@font-face {
    font-family: 'Font';
    src: url('../Fonts/nothing.ttf') format('truetype');
}

body {
    font-family: 'Font', sans-serif;
    background-color: #f4f4f4;
    margin: 1vw;
}

p{
    color: #202020;
    font-size: 80px;
}

p:hover{
    transition: all 200ms ease-in;
    color: #d71921;    
}
p::before{
    content:"+";
    color: #202020;
}

a{
    text-decoration: none;
    cursor: default;
}
