@font-face {
    font-family: 'Font';
    src: url('../../Fonts/SpaceMono-Regular.ttf') format('truetype');
}

.container {
	margin: 0 auto;
	max-width: 800px;
}

p{
    font-family: 'Font';
    color: #202020;
    font-size: 150%;
}

p:hover{
    font-weight: bolder;
}

canvas {
	display: block;
	background-color: #fff;
	border: 10px solid #000000;
	margin: 20px auto;
}
button {
    background-color: #2A629A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #003285;
}
