body {
    font-family: Arial, sans-serif;   
    font-weight: 10;
    font-size: 3ch;
  }
  
  h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
    font-size: 7ch;
  }
  
  form {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  label {
    margin-right: 10px;
    background-color: #8C5ED5;
    color: whitesmoke;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-weight: 10;
    font-size: 130%;
    border: none;
    border-radius: 100px;
    
  }
  
/*    button[type="button"] {
    background-color: #91ff00;
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
  }

  button[type="button"]:hover {
    background-color: #91ff0085; 
  } */
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  ul {
    list-style: none;
/*    padding: 0; */
    color: #b8002e;
    font-size: 35px;
    background-color: #0000001f;
  }
  
  li {
    margin: 10px 0;
  }
  