@font-face {
    font-family: 'Font';
    src: url('SpaceMono-Regular.ttf') format('truetype');
}

:root {
    --bg-c: rgb(250, 12, 103);
    --text-c: rgb(255, 255, 255);
    --border-c: rgba(175, 0, 96, 0.397);
    --hover-c: rgb(255, 170, 203);
    --hover-a-c: rgb(255, 184, 211);
}

body {
    font-family: 'Font', sans-serif;
    text-align: center;
    color: var(--text-c);
    font-size: 32px;
    background-color: var(--bg-c);
}

input {
    font-family: 'Font', sans-serif;
    border: 2px solid var(--border-c);
    background-color: var(--bg-c);
    border-radius: 5px;
    text-align: center;
    color: var(--text-c);
    font-weight: bold;
    font-size: 50%;
    cursor: default;
}

.weather_description {
    color: var(--text-c);
    margin-top: 2rem;
    cursor: pointer;
    font-size: 30px;
    transition: font-size 0.5s ease, color 0.1s ease;
}

.weather_description:hover {
    color: var(--hover-c);
    font-size: 30.5px;
    transition: font-size 1s ease, color 0.2s ease;
}

.weather_description:active {
    color: var(--hover-a-c);
}

#city {
    font-size: 75px;
    cursor: default;
    transition: font-size 0.5s ease, color 0.4s ease;    
}

#city:hover {
    color: var(--hover-c);
    font-size: 80px;
    transition: font-size 1s ease, color 0.8s ease;    
}

#error {
    color: red;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
}