body {
  background-color: #212529;
  display: flex;
  justify-content: center;
  height: 100vh;    
  margin: 5vw;
}

.calculator {
  width: 80vw;
  border: 0.5vw solid #000000;
  padding: 1vw;
  height: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display {
  width: 100%;
  height: 5vw;
  margin-top: auto;
  color: #343A40;
}

#switch {
  width: 100%;
  height: 5vw;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  color: #343A40;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}

button {
  width: 18vw;
  height: 10vw;
  font-size: 5vw;
  border: none;
  background-color: #343A40;
  cursor: pointer;
  color: #ccc;
}

button:hover {
  background-color: #6C757D;
}

button:active {
  background-color: #495057;
}
