.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #2A629A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #003285;
  }
  
  li {
    list-style-type: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    position: relative;
  }
  
  li span {
    color: rgba(0, 0, 0, 0.404);
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  