* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #7aadff;
  width: 430px;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #444;
  margin-top: 50px;
}
label {
  display: block;
  font-weight: 600;
  margin: 10px 5px;
  color: #444;
}
textarea {
  resize: none;
  border: 1px solid #0062ff93;
  background-color: #5495ff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  font-size: 16px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
button {
  width: 100%;
  background-color: #2A629A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  outline: none;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003285;
}

p {
  font-weight: 600;
  color: #444;
  font-size: 18px;
}
p span {
  font-weight: 400;
  font-size: 20px;
}
