@font-face {
    font-family: 'Font';
    src: url('../../Fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
    --bg-c: rgb(3, 36, 63);
    --text-c: rgb(255, 255, 255);
    --border-c: rgb(12, 93, 160);
    --hover-c: rgb(150, 196, 204);
    --hover-a-c: rgb(134, 175, 182);
}

body {
    font-family: 'Font', sans-serif;
    text-align: center;
    color: var(--text-c);
    font-size: 32px;
    background-color: var(--bg-c);
}

input {
    font-family: 'Font', sans-serif;
    border: 2px solid var(--border-c);
    background-color: var(--bg-c);
    border-radius: 5px;
    text-align: center;
    color: var(--text-c);
    font-weight: bold;
    font-size: 50%;
    cursor: default;
}

.weather_description {
    color: var(--text-c);
    margin-top: 2rem;
    cursor: pointer;
    font-size: 30px;
    transition: text-shadow 0.5s ease;
}

.weather_description:hover {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    transition: text-shadow 1s ease;
}

#city {
    font-size: 75px;
    cursor: default;
    transition: text-shadow 0.4s ease;    
}

#city:hover {
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    transition: text-shadow 0.8s ease;    
}

#error {
    color: red;
    font-size: 40px;
    margin-top: 50px;
    font-weight: bold;
}